// ---------------------------------------------------------
// BASE STYLES
// ---------------------------------------------------------
// Global and site-wide styles

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: $type-default;
  font-weight: 400; 
  font-style: normal;
  font-size: $font-size-body;
  line-height: 1.66;
  color: $black;
}
h1, h2, h3 {
  line-height: 1;
  margin-top: 0;
}
figure {
  margin: 0;
}
p {
  margin: 0;
  padding-bottom: 25px;
  
  &:last-of-type {
    padding-bottom: 0;
  }
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
dl {
  margin: 0;
}
button {
  border: 0;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: $font-size-body;
}
i,
em {
  font-style: italic;
}
strong,
b {
  font-weight: $type-bold;
}


// Headers
// ---------------------------------------------------------
// Global header
.header-primary {
  color: white;
  margin: 20px 40px 14px;
  
  .logo {
    width: 230px;
  }  
}
.nav-primary {
  position: absolute;
  top: 38px;
  right: 40px;
  
  a {
    color: white;
    text-decoration: none;
    padding-left: 26px;
    display: inline-block;
    
    &:hover,
    &.active {
      font-weight: $type-bold;
      color: white;
    }
  }
}

// Page headings
.heading,
.header-secondary h2 {
  font-size: $font-size-heading;
  font-weight: $type-bold;
}
section .heading {
  margin: 62px 0 42px;
  text-align: center;
}

// Optional page header module
.header-secondary {
  color: white;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 66px;
  
  .heading {
    margin: 0 0 40px;
  }
  p {
    @extend .wrapper-sm;
  }
}


// Global Footer
// ---------------------------------------------------------
.footer-primary {
  background: white;
  padding: 100px 62px;
  font-size: $font-size-subtext;
  margin-top: 20px;
  
  p {
    padding-bottom: 12px;
  }
  
  section:nth-of-type(1){
    padding-right: 30px;
  }
  
  // Subscribe form
  input[type="email"]{
    width: 215px;
    margin-top: 10px;
    height: 25px;
  }
  input[type="submit"]{
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: $font-size-subtext;
    font-weight: $type-bold;
    cursor: pointer;
    padding-left: 0;
  }
  
  // Social accounts
  section:nth-of-type(3) {
    padding-left: 8%;
  }
}
.footer-links {
  @include list-reset-inline;
  
  a {
    display: inline-block;
    margin-right: 10px;
  }
}



