// ------------------------------------------------------------
// BASE STYLES
// ------------------------------------------------------------
// Global and site-wide styles

// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  font-family: $type-default;
  font-weight: 400; 
  font-style: normal;
  font-size: $font-size-body;
  line-height: $line-height-compact;
  color: $black;
}
main {
  // Adds space to the bottom of the page modules. See 
  // comments for .border in _modules.scss for more info.
  margin-bottom: 20px;
  
  &:after {
    content: "";
    display: block;
    height: 85px;
    background: white;
    margin: 0 20px;
  }
}
figure {
  margin: 0;
}
h1, h2, h3 {
  line-height: 1;
}
p {
  margin: 0 0 25px;
  
  &:last-of-type {
    margin-bottom: 0;
  }
}
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}
dl {
  margin: 0;
}
button {
  border: 0;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: $font-size-body;
}


