// ---------------------------------------------------------
// BASE STYLES
// ---------------------------------------------------------
// site-wide styles

html {
  box-sizing: border-box;
  font-size: 62.5%;
  
  @include max-width($screen-xsm){
    font-size: 60%;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: $type-default;
  font-weight: 400; 
  font-style: normal;
  font-size: $font-size-body;
  line-height: 1.66;
  color: $black;
}
h1, h2, h3 {
  line-height: 1.4;
  margin-top: 0;
}
a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
dl {
  margin: 0;
}
button {
  border: 0;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: $font-size-body;
}
i, em {
  font-style: italic;
}
strong, b {
  font-weight: $type-bold;
}


// Fade in content - also uses JS in global.js
// ---------------------------------------------------------
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.fade-in {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
