/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=28b6dbe0-7189-4bf0-b1ff-a727583465ca");
    
@font-face{
  font-family:"Avenir Next W01_n4";
  src: url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src: url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix");
  src: url("../fonts/avenir/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix") format("eot"), url("../fonts/avenir/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2") format("woff2"), url("../fonts/avenir/1e9892c0-6927-4412-9874-1b82801ba47a.woff") format("woff"), url("../fonts/avenir/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf") format("truetype"), url("../fonts/avenir/52a192b1-bea5-4b48-879f-107f009b666f.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family:"Avenir Next W01_i4";
  src: url("../fonts/avenir/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src: url("../fonts/avenir/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix");
  src: url("../fonts/avenir/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix") format("eot"), url("../fonts/avenir/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2") format("woff2"), url("../fonts/avenir/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff") format("woff"), url("../fonts/avenir/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf") format("truetype"), url("../fonts/avenir/1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family:"Avenir Next W01_n7";
  src: url("../fonts/avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src: url("../fonts/avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix");
  src: url("../fonts/avenir/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix") format("eot"), url("../fonts/avenir/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2") format("woff2"), url("../fonts/avenir/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff") format("woff"), url("../fonts/avenir/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf") format("truetype"), url("../fonts/avenir/99affa9a-a5e9-4559-bd07-20cf0071852d.svg#99affa9a-a5e9-4559-bd07-20cf0071852d") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family:"Avenir Next W01_i7";
  src: url("../fonts/avenir/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot")
}
@font-face{
  font-family:"Avenir Next W01";
  src: url("../fonts/avenir/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix");
  src: url("../fonts/avenir/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix") format("eot"), url("../fonts/avenir/687932cb-145b-4690-a21d-ed1243db9e36.woff2") format("woff2"), url("../fonts/avenir/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff") format("woff"), url("../fonts/avenir/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf") format("truetype"), url("../fonts/avenir/4862b373-2643-46b1-b0b5-88537c52d15c.svg#4862b373-2643-46b1-b0b5-88537c52d15c") format("svg");
  font-weight: 700;
  font-style: italic;
}

/*
---------------------------------------------------------
Font Awesome 4.6.3 by @davegandy http://fontawesome.io 
License - http://fontawesome.io/license 
(Font: SIL OFL 1.1, CSS: MIT License)
---------------------------------------------------------
I didn't add the whole Font Awesome library since we're 
(currently) only using few icons and no other styles.
See link above or refer to the font-awesome.css
in the "src" folder. 

Also, view http://fontawesome.io/accessibility/ for 
accessibility info.
*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-heart-o:before {
  content: "\f08a";
}


