// ---------------------------------------------------------
// INTERVIEW TEMPLATE COMPONENTS
// ---------------------------------------------------------

.header-interview {
  h2 {
    font-size: $font-size-heading-lg;
    margin: 0 0 16px;
  }
  .wrapper-sm {
    border-bottom: 1px solid $gray-light;
    padding-bottom: 45px;
    margin-bottom: 20px;
  }
  .intro {
    font-size: $font-size-intro;
    line-height: 1.54;
  } 
  + dl {
    padding-top: 45px;
  }
  .social-share {
    @include list-reset-inline;
    font-size: 0;
    
    li {
      margin-right: 10px;
      vertical-align: text-bottom;
    }
    a {
      text-shadow: none;
      background: none;
      border: 1px solid $black;
      border-radius: 50%;
      height: 38px;
      width: 38px;
      text-align: center;
      margin-top: 30px;
      display: inline-block;
    }
    .fa {
      padding-top: 10px;
      font-size: $font-size-body;
    }
    .fa-envelope {
      font-size: 14px;
    }
  }
  @include min-width($screen-xsm){
    padding-top: 20px;
  }
}

.author,
.credits ul {
  font-size: $font-size-xsm;
  
  a {
    font-weight: $type-bold;
    text-transform: uppercase;
  }
}

.credits {
  padding-bottom: 60px;
  font-size: $font-size-xsm;
  
  ul {
    @include list-reset;
    border-top: 1px solid $gray-light;
    padding-top: 45px;
    @extend .wrapper-sm;
    
    li {
      margin-bottom: 10px;
    }
  }
  p {
    @extend .wrapper-sm;
    margin-top: 30px;
  }
}


// Q&A blocks - contained in <dl> elements
// ---------------------------------------------------------
// www.w3.org/TR/html/grouping-content.html#the-dl-element
dl.border {
  padding-top: 1em;
  padding-bottom: 1em;
}
.interview-q,
.interview-a {
  @extend .wrapper-sm;
}
.interview-q {
  font-size: $font-size-questions;
  line-height: 1.4;
  font-weight: $type-bold;
  margin-bottom: 1em;
}


// Pull quotes - contained in an <aside> element
// ---------------------------------------------------------
.pull-quote {
  font-weight: $type-bold;
  font-size: $font-size-pullquote;
  line-height: 1.45;
  padding-top: 16px;
  padding-bottom: 26px;
  
  p {
    @extend .wrapper-sm;
    
    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
  
  @include max-width($screen-xsm){
    text-align: center;
  }
}


// Images
// ---------------------------------------------------------
// Interview images are wrapped in a class with the -img prefix
[class*="img-"] {
  img {
    width: 100%;
  }
  &.border a {
    background: none;
    color: #000000;
    
    &:hover {
      color: $gray-med;
    }
  }
}
figure {
  margin: 0 auto 20px;
  font-size: 0; 
}
figcaption {
  font-size: $font-size-xsm;
  line-height: 1.5;
  padding: 8px 0 0;
  color: $gray-med;
}

// Feature image, always the first content block
.img-feature.border {
  padding-top: 20px;
}

// Single images
.img-portrait figure,
.img-portrait img {
  max-width: 620px;
}
.img-landscape figure,
.img-landscape img {
  max-width: 940px;
}

// Side by side
.img-side-by-side {
  @include min-width($screen-sm){
    display: flex;
    
    figure {
      max-width: 460px;
      
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
  @include max-width($screen-sm){
    figure:first-child {
      margin-bottom: 20px;
    }
  }
}


// Interview cards
// ---------------------------------------------------------
// Used in Latest Interviews component and Archive page
.interview-cards {
  margin-top: 35px;
  font-size: $font-size-sm;
  position: relative;

  h2 {
    color: white;
  }
  h3 {
    font-size: $font-size-heading;
    margin: 25px 0 15px;
  }
  img {
    width: 100%;
    transition: transform 0.25s ease-in-out;
  }
  a {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    
    &:hover img {
      transform: scale(1.1);  
    }
  }
  .view-all {
    position: absolute;
    top: 7px;
    right: 0;
    color: white;
  }
  [class*="grid-"]:not(.grid-wrapper) {
    text-align: center;
    background: white;
    
    @include min-width($screen-med){
      padding: 18px;
    }
    @include max-width($screen-med){
      padding: 10px 10px 20px;
    }
  }
  @include min-max($screen-xsm, $screen-sm){
    padding-left: 14%;
    padding-right: 14%;
  }
  @include max-width($screen-sm){    
    .view-all {
      position: relative;
      top: -20px;
    }
  }
  @include max-width($screen-xsm){
    padding-left: 20px;
    padding-right: 20px;
  }
}
