// ---------------------------------------------------------
// INTERVIEW TEMPLATE COMPONENTS
// ---------------------------------------------------------

.header-interview {
  padding-top: 50px;
  
  h2 {
    font-size: $font-size-heading-lg;
    margin: 0 0 35px;
  }
  .wrapper-sm {
    border-bottom: 1px solid $gray;
    padding-bottom: 45px;
    margin-bottom: 20px;
  }
  .intro {
    font-size: $font-size-intro;
    line-height: 1.54;
  } 
  + dl {
    padding-top: 45px;
  }
  
  .social-share {
    @include list-reset-inline;
    font-size: 0;
    
    li {
      margin-right: 10px;
      vertical-align: text-bottom;
    }
    a {
      text-shadow: none;
      background: none;
      border: 1px solid $black;
      border-radius: 50%;
      height: 38px;
      width: 38px;
      text-align: center;
      margin-top: 30px;
      display: inline-block;
    }
    .fa {
      padding-top: 10px;
      font-size: $font-size-body;
    }
    .fa-envelope {
      font-size: 14px;
    }
  }
}


.author,
.credits {
  font-size: $font-size-subtext;
  
  a {
    font-weight: $type-bold;
    text-transform: uppercase;
  }
}

.credits {
  // padding-top: 60px;
  padding-bottom: 80px;
  
  ul {
    @include list-reset;
    border-top: 1px solid $gray;
    padding-top: 55px;
    @extend .wrapper-sm;
    
    li {
      margin-bottom: 10px;
    }
  }
  p {
    @extend .wrapper-sm;
    margin-top: 30px;
    font-style: italic;
  }
}


// Q&A blocks - contained in <dl> elements
// ---------------------------------------------------------
// www.w3.org/TR/html/grouping-content.html#the-dl-element
dl.border {
  padding-top: 25px;
  padding-bottom: 25px;
  
  &:last-of-type {
    padding-bottom: 55px;
  }
}
.interview-q,
.interview-a {
  @extend .wrapper-sm;
}
.interview-q {
  font-size: $font-size-questions;
  line-height: 1.4;
  font-weight: $type-bold;
  margin-bottom: 25px;
}


// Pull quotes - contained in an <aside> element
// ---------------------------------------------------------
.pull-quote {
  font-weight: $type-bold;
  font-size: $font-size-pullquote;
  line-height: 1.45;
  padding-top: 72px;
  padding-bottom: 52px;
  
  p {
  @extend .wrapper-sm;
  
    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
}


// Images
// ---------------------------------------------------------
[class*="img-"] {
  text-align: center;
  // gets rid of extra space under image
  font-size: 0;
  
  img {
    width: 100%;
  }  
}

// Side by side
.img-side-by-side {
  display: flex;
  align-items: center;
  justify-content: center;
  
  figure {
    position: relative;
    
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
  figcaption {
    position: absolute;
    bottom: 0;
    font-size: $font-size-body;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 12px;
    text-align: left;
  }
}

// Single images
.img-portrait img {
  max-width: 620px;
}
.img-landscape img {
  max-width: 940px;
}


.img-side-by-side,
.img-portrait,
.img-landscape {
  padding: 60px 20px;
}


// Past Interviews
// ---------------------------------------------------------
.past-interviews {
  margin-top: 35px;
  font-size: $font-size-body-sm;
  @extend .wrapper;
  
  @include max-width(sm){
    padding-left: 20px;
    padding-right: 20px;
  }
  @include min-max(400px, 660px){
    padding-left: 10%;
    padding-right: 10%;
  }
  h2 {
    color: white;
  }
  h3 {
    font-size: $font-size-heading;
    margin: 25px 0 15px;
  }
  img {
    width: 100%;
  }
  p {
    margin: 0 10px;
  }
  .grid-3 {
    text-align: center;
    background: white;
    padding: 18px 18px 30px;
    
    @include max-width(med){
      padding: 10px 10px 20px;
    }
  }
}







