// ---------------------------------------------------------
// PAGE LAYOUTS & GRIDS
// ---------------------------------------------------------


// Content wrappers
// ---------------------------------------------------------
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.wrapper-sm {
  max-width: 620px;
  margin: 0 auto;
}


// Module container
// ---------------------------------------------------------
.border {
  // padding and margin are not the same on all sides of the 
  // element so independent modules & content sections can
  // stack on top of eachother
  margin: 0 20px;
  padding: 20px 20px 1px;
  background: white;
}


// Columns
// ---------------------------------------------------------
.column-wrapper {
  display: flex;
  justify-content: center;
}
.column-3 {
  width: (100/3) * 1%;
}