// ---------------------------------------------------------
// PAGE LAYOUTS & GRIDS
// ---------------------------------------------------------


// Content wrappers
// ---------------------------------------------------------
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.wrapper-sm {
  max-width: 620px;
  margin: 0 auto;
}
