// ---------------------------------------------------------
// PAGE LAYOUTS & GRIDS
// ---------------------------------------------------------


// Content wrappers
// ---------------------------------------------------------
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  
  @include max-width($screen-med){
    margin-left: 20px;
    margin-right: 20px;
  }
}
.wrapper-sm {
  max-width: 620px;
  margin: 0 auto;
}


// Module container
// ---------------------------------------------------------
.border {
  background: white;
  
  + .border {
    margin-top: -20px;
  }
  
  @include min-width($screen-xsm){
    margin: 0 20px;
    padding: 20px;
  }
  @include max-width($screen-xsm){
    margin: 0 12px;
    padding: 12px;
  }
}

.no-border {
  @include max-width($screen-med) {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 20px;
  }
}



// Columns
// ---------------------------------------------------------
.grid-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// goes from 3 columns to 1
.grid-3-1 {
  margin-bottom: 20px;
  
  @include min-width($screen-sm){
    width: 32%;
    
    &:nth-of-type(2) {
      margin-left: 2%;
      margin-right: 2%;
    }
  }
}