// ---------------------------------------------------------
// PAGE LAYOUTS & GRIDS
// ---------------------------------------------------------


// Content wrappers
// ---------------------------------------------------------
.wrapper {
  max-width: 940px;
  margin: 0 auto;
}
.wrapper-sm {
  max-width: 620px;
  margin: 0 auto;
}


// Module container
// ---------------------------------------------------------
.border {
  margin: 0 20px;
  padding: 20px;
  background: white;
  
  + .border {
    margin-top: -20px;
  }
}
.no-border {
  @include max-width(med) {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 20px;
  }
}
.no-border-columns {
  @include max-width(med) {
    margin: 0 20px;
  }
}


// Columns
// ---------------------------------------------------------
.grid-wrapper {
  display: flex;
  justify-content: center;
  
  @include max-width(sm){
    flex-wrap: wrap;
  }
}
.grid-3 {
  width: (100/3) * 1%;

  .with-gutter & {
    margin-bottom: 20px;
    
    &:nth-of-type(2) {
      margin-left: 20px;
      margin-right: 20px;
      
      @include max-width(med) {
        margin-left: 10px;
        margin-right: 10px;
      }
      @include max-width(sm){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  
  @include max-width(sm){
    width: 100%;
  }
}