
// MODULES & STANDALONE COMPONENTS
// ------------------------------------------------------------


// Module borders
// ------------------------------------------------------------
.border {
  // padding and margin are not the same on all sides of the 
  // element so independent modules & content sections can
  // stack on top of eachother
  margin: 0 20px;
  padding: 20px 20px 1px;
  background: white;
}


// Headers
// ------------------------------------------------------------
// Global site header, contains logo & nav
.header-primary {
  color: white;
  margin: 20px 40px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .logo {
    // Setting logo as bg image, text contained in link.
    background: url(../img/W&&T-full-logo-outline.svg) no-repeat;
    width: 50%;
    height: 64px;
    margin: 0;
    
    // Hiding link text but making area clickable.
    // Font color change according to theme.
    a {
      padding-left: 220px;
    }
  }
  nav {
    width: 50%;
    text-align: right;
    
    a:hover,
    .active {
      font-weight: $type-bold;
      color: white;
    }
  }
  a {
    color: white;
    text-decoration: none;
    padding-left: 26px;
    display: inline-block;
  }
}

// Optional page header, contained in <main> tag
.header-secondary {
  color: white;
  text-align: center;
  margin-top: 80px;
  
  h2 {
    margin: 0 0 40px;
    font-size: $font-size-heading;
    font-weight: $type-bold;
  }
  .intro {
    margin: 0 auto 66px;
  }
}

// Interview header
.header-interview {
  padding-top: 63px;
  
  + dl {
    padding-top: 45px;
  }
  .heading-lg {
    font-size: $font-size-heading-lg;
    margin: 0 0 35px;
  }
  .wrapper-sm {
    border-bottom: 1px solid $gray;
    padding-bottom: 45px;
  }
  .intro {
    font-size: $font-size-intro;
    line-height: $line-height;
  }
  .author {
    font-size: $font-size-subtext;
  } 
}


// Page heading
.heading {
  font-size: $font-size-heading;
  font-weight: $type-bold;
  margin: 62px 0 42px;
}



// Images
// ------------------------------------------------------------
// Interview images
[class*="img-"] {
  text-align: center;
  // gets rid of extra space under image
  font-size: 0;
  
  img {
    width: 100%;
  }  
}

// Interview side by side images
.img-side-by-side {
  display: flex;
  align-items: center;
  justify-content: center;
  
  figure {
    // margin: 0 10px;
    position: relative;
    
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
  figcaption {
    position: absolute;
    bottom: 0;
    font-size: $font-size-body;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 12px;
    text-align: left;
  }
}

// Interview single images
.img-portrait img {
  max-width: 620px;
}
.img-landscape img {
  max-width: 940px;
}



// Social media
// ------------------------------------------------------------

// Interview share icons
.social-list {
  @include list-reset-inline;
  margin-top: 35px;
  
  li {
    margin-right: 10px;
  }
}



// Interview text blocks
// ------------------------------------------------------------

// Q&A blocks - Q&A content contained in <dl> elements
// www.w3.org/TR/html/grouping-content.html#the-dl-element
dl.border {
  padding-top: 25px;
  padding-bottom: 25px;
}
.interview-q {
  font-size: $font-size-questions;
  font-weight: $type-bold;
  margin-bottom: 25px;
}

// Pull quotes
// Should be contained in an <aside> element
.pull-quote {
  font-weight: $type-bold;
  font-size: $font-size-pullquote;
  padding-top: 72px;
  padding-bottom: 52px;
  
  p {    
    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
}

// Credits
.credits {
  font-size: $font-size-subtext;
  padding-top: 60px;
  
  ul {
    @include list-reset;
    border-top: 1px solid $gray;
    padding-top: 55px;
    
    li {
      margin-bottom: 10px;
    }
  }
  a {
    background: none;
    text-shadow: none;
    
    &:hover {
      color: $black;
    }
  }
  p {
    margin-top: 30px;
  }
}



// Primary / Global Footer
// ------------------------------------------------------------
.footer-primary {
  background: white;
  padding: 100px 62px;
}

