// ---------------------------------------------------------
// PAGE TEMPLATE COMPONENTS
// ---------------------------------------------------------
// Interview template specific page components can be found in _interviews.scss.

// Team content block
.team {
  text-align: center;
  padding: 40px 0;
  
  ul {
    @include list-reset-inline;
    margin-bottom: 40px;
  }
  p {
    padding: 0;
  }
  .name {
    font-size: $font-size-heading;
    margin: 0 35px;
  }
  .role {
    font-size: $font-size-body-sm;
  }
  .thanks {
    font-size: $font-size-subtext;
    font-style: italic;
  }
}