// ------------------------------------------------------------
// PAGE SPECIFIC
// ------------------------------------------------------------


// Style Guide
// ------------------------------------------------------------
.style-guide {
  .logo {
    width: 20%;
  }
  nav {
    width: 80%;
    font-size: 3.5rem;
    text-align: left;
  }
  .title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  button {
    color: white;
  }
  .example {
    border: 1px solid #ccc;
    padding-top: 40px;
    margin-bottom: 40px;
    
    h4 {
      margin-left: 20px;
    }
  }
  pre {
    border-top: 1px solid #ccc;
    margin: 40px 0 0; 
    white-space: pre-wrap;
  }
  code {
    padding: 10px 30px 25px;
  }
}

