// ------------------------------------------------------------
// PAGE SPECIFIC
// ------------------------------------------------------------


// Style Guide
// ------------------------------------------------------------
.style-guide {
  .logo {
    width: 20%;
  }
  nav {
    width: 80%;
    font-size: 3.5rem;
    text-align: left;
  }
  .module-wrap {
    margin: 0 20px;
    padding: 30px 20px;
    background: white;
  }
  .example {
    border: 1px solid $gray;
    padding: 20px;
    
    [class*="font-size-"]{
      // margin: 10px 0;
      // background: pink;
    }
  }
  .title, 
  .subtitle {
    margin-top: 0;
  }
  .title {
    font-size: 3.5rem;
  }
  .subtitle {
    font-size: 2.3rem;
  }
  button {
    color: white;
  }
  
  pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 -20px -32px;
    white-space: pre-wrap;
    
    code {
      padding: 25px 30px;
    }
  }
  .font-styles span {
    margin-right: 10px;
  }
}

