// ---------------------------------------------------------
// PAGE TEMPLATE COMPONENTS
// ---------------------------------------------------------
// Interview template specific page components and styles can
// be found in _interviews.scss.
// Style guide specific components and styles can be found in
// _style-guide.scss.


// Headers
// ---------------------------------------------------------
// Global header
.header-primary {
  color: white;
  margin: 20px 40px 14px;
  
  .logo {
    width: 230px;
  }  
}
.nav-primary {
  position: absolute;
  top: 38px;
  right: 40px;
  
  a {
    color: white;
    text-decoration: none;
    padding-left: 26px;
    display: inline-block;
    
    &:hover,
    &.active {
      font-weight: $type-bold;
      color: white;
    }
  }
}

// Page headings
section,
article {
  h2 {
    text-align: center;
    font-size: $font-size-heading;
    font-weight: $type-bold;
  }
} 
article h2 {
  margin: 62px 0 42px;
}

// Optional page header module
.header-secondary {
  color: white;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 66px;
  
  .heading {
    margin: 0 0 40px;
  }
  p {
    @extend .wrapper-sm;
    font-size: $font-size-body-sm;
  }
}


// Global Footer
// ---------------------------------------------------------
.footer-primary {
  background: white;
  font-size: $font-size-subtext;
  margin-top: 20px;
  
  section {
    padding-left: 20px;
    
    @include min-width($screen-med){
      &:nth-of-type(1){
        width: 320px;
      }
      &:nth-of-type(2){
        width: 370px;
      }
      &:nth-of-type(3){
        width: 250px;
      }
    }
    
    * {
      display: inline-block;
    }
  }
  // Subscribe form
  label {
    display: block;
  }
  input[type="email"]{
    width: 215px;
    margin: 10px 0 30px;
    height: 25px;
  }
  input[type="submit"]{
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: $font-size-subtext;
    font-weight: $type-bold;
    cursor: pointer;
    padding-left: 0;
  }
  
  @include max-width($screen-med){
    padding: 35px 0;
    text-align: center;
  }
  @include min-width($screen-med){
    display: flex;
    justify-content: center;
    padding: 100px 0;
    
    p {
      padding-bottom: 12px;
    }
  }
}
.footer-links {
  @include list-reset-inline;
  
  a {
    margin-right: 10px;
  }
}



// Team content block
// ---------------------------------------------------------
.team-listing {
  text-align: center;
  padding-bottom: 60px;
  
  ul {
    @include list-reset-inline;
    margin-bottom: 40px;
    
    @include max-width($screen-med) {
      li {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
  p {
    padding: 0;
  }
  .name {
    font-size: $font-size-heading;
    margin: 0 35px;
    display: inline-block;
  }
  .role {
    font-size: $font-size-body-sm;
  }
  .thanks {
    font-size: $font-size-subtext;
    font-style: italic;
  }
}

// "With <3 from the Women&&Tech team"
.signature {
  text-align: center;
  padding-top: 50px;
  
  .fa,
  .team {
    font-weight: $type-bold;
  }
  .team {
    display: block;
    text-transform: uppercase;
  }
}