// ---------------------------------------------------------
// PAGE TEMPLATE COMPONENTS
// ---------------------------------------------------------
// Interview template specific page components and styles can
// be found in _interviews.scss.
// Style guide specific components and styles can be found in
// _style-guide.scss.


// Headers
// ---------------------------------------------------------
// Global header
.header-primary {
  color: white;
  
  .logo {
    width: 230px;
    height: 75px;
    overflow: hidden;
  }
}
.nav-primary {
  a {
    color: white;
    text-decoration: none;
    padding: 13px;
    display: inline-block;
    
    &:hover,
    &.active {
      font-weight: $type-bold;
      color: white;
    }
  }
}
@include max-width(800px){
  .header-primary,
  .nav-primary {
    text-align: center;
  }
  .header-primary {
    margin: 20px 5px 14px;
  }
  .nav-primary a {
    padding: 10px 6px;
  }
}
@include min-width(800px){
  .nav-primary {
    position: absolute;
    top: 25px;
    right: 30px;
  }
  .header-primary {
    margin: 20px 40px 14px;
  }
}

// Page headings
section,
article {
  h2 {
    text-align: center;
    font-size: $font-size-heading;
    font-weight: $type-bold;
  }
} 
article h2 {
  @include min-width($screen-sm){
    margin: 62px 0 42px;
  }
  @include max-width($screen-sm){
    margin: 15px 0 20px;
  }
}

// Optional page header module
.header-secondary {
  color: white;
  text-align: center;
  
  p {
    @extend .wrapper-sm;
    font-size: $font-size-body-sm;
  }
  
  @include min-width($screen-sm){
    margin-top: 80px;
    margin-bottom: 66px;
    
    h2 {
      margin-bottom: 40px;
    }
  }
  @include max-width($screen-sm){
    margin-top: 60px;
    margin-bottom: 46px;
    
    h2 {
      line-height: 1.25;
    }
  }
}


// Global Footer
// ---------------------------------------------------------
.footer-primary {
  background: white;
  font-size: $font-size-subtext;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  
  section {
    @include min-width($screen-med){
      padding-left: 20px;
      
      &:nth-of-type(1){
        width: 320px;
      }
      &:nth-of-type(2){
        width: 370px;
      }
      &:nth-of-type(3){
        width: 250px;
      }
    }
  }
  p {
    margin: 0px;
  }
  // Subscribe form
  label {
    display: block;
  }
  input[type="email"]{
    width: 215px;
    height: 25px;
    margin: 10px 0 5px;
    border: 1px solid #bbb;
    -webkit-appearance: none;
  }
  input[type="submit"]{
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: $font-size-subtext;
    font-weight: $type-bold;
    cursor: pointer;
    padding: 0;
    margin-bottom: 30px;
  }
  
  @include min-width($screen-sm){
    .nowrap {
      display: inline-block;
      padding-top: 12px;
    }
  }
  @include min-width($screen-med){
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include max-width($screen-med){
    padding-top: 35px;
    padding-bottom: 50px;
    text-align: center;
    
    form {
      margin-top: 20px;
    }
  }
  @include max-width($screen-sm){
    input[type="submit"]{
      font-size: $font-size-body;
    }
  }
}
.footer-links {
  @include list-reset-inline;
  
  a {
    margin: 12px 10px 0 0;
  }
}



// Team content block
// ---------------------------------------------------------
.team-listing {
  text-align: center;

  ul {
    @include list-reset-inline;
    margin-bottom: 40px;
  }
  p {
    margin: 0;
  }
  .name {
    font-size: $font-size-heading;
    margin: 0 35px;
    display: inline-block;
  }
  .role {
    font-size: $font-size-body-sm;
  }
  .thanks {
    font-size: $font-size-subtext;
    font-style: italic;
  }
  @include max-width($screen-med) {
    padding-bottom: 40px;
    
    li {
      width: 100%;
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include min-width($screen-med) {
    padding-bottom: 60px;
  }
}

// "With <3 from the Women&&Tech team"
.signature {
  text-align: center;
  padding: 30px 0;

  .fa,
  .team {
    font-weight: $type-bold;
  }
  .team {
    display: block;
    text-transform: uppercase;
  }
}

