// ------------------------------------------------------------
// VARIABLES
// ------------------------------------------------------------

// Colours
// ------------------------------------------------------------
$coral:                #ff5e69;
$purple:               #b385dd;
$yellow:               #eaaf1d;
$green:                #0ab070;
$blue:                 #105ac6;
$black:                #010101;


// Typography (temporarity using Lato until font is purchased)
// ------------------------------------------------------------
$typeface-default:    'avenir-next-regular', "Lato", arial, sans-serif;
$typeface-heading:    'avenir-next-demibold', "Lato", sans-serif;
$typeface-strong:     'avenir-next-demibold', "Lato", sans-serif;
$typeface-italic:     'avenir-next-regular-italic', "Lato", sans-serif;

// using 62.5% method to calculate rem
$font-size-heading:    6.0rem;
$font-size-h2:         2.4rem;
$font-size-intro:      2.2rem;
$font-size-pullquote:  2.9rem;
$font-size-questions:  2.0rem; // lh 28pt
$font-size-body:       1.8rem; // lh 26pt
$font-size-body-sm:    1.6rem;
$font-size-subtext:    1.4rem;
$line-height:          1.4;


// ------------------------------------------------------------
// HELPER CLASSES
// ------------------------------------------------------------
.nowrap {
  white-space: nowrap;
}


// ------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  li:before {
    content: "";
    padding-right: 0;
    margin-left: 0;
  }
}
@mixin list-reset-inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
    
  li {
    display: inline-block;
    
    &:before {
      content: "";
      padding-right: 0;
      margin-left: 0;
    }
  }
}
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}


// Media Queries - placeholder sizes - to be updated
$screen-sm: 800px;
$screen-med: 1024px;
$screen-lrg: 1400px;

@mixin max-width($screen-size) {
  @if $screen-size == sm {
    @media only screen and (max-width: $screen-sm) { @content; }
  }
  @if $screen-size == med {
    @media only screen and (max-width: $screen-med) { @content; }
  }
  @if $screen-size == lrg {
    @media only screen and (max-width: $screen-lrg) { @content; }
  }
}
@mixin min-width($screen-size) {
  @if $screen-size == sm {
    @media only screen and (min-width: $screen-sm + 1) { @content; }
  }
  @if $screen-size == med {
    @media only screen and (min-width: $screen-med + 1) { @content; }
  }
  @if $screen-size == lrg {
    @media only screen and (min-width: $screen-lrg + 1) { @content; }
  }
}
@mixin between($screen-size) {
  @if $screen-size == sm-med {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-med) { @content; }
  }
  @if $screen-size == med-lrg {
    @media only screen and (min-width: $screen-med) and (max-width: $screen-lrg) { @content; }
  }
  @if $screen-size == sm-lrg {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-lrg) { @content; }
  }
}

