// ---------------------------------------------------------
// VARIABLES
// ---------------------------------------------------------

// Colours
// ---------------------------------------------------------
$coral:                  #ff5e69;
$purple:                 #b385dd;
$yellow:                 #eaaf1d;
$green:                  #0ab070;
$blue:                   #105ac6;
$black:                  #2b2b2b;
$gray:                   #d2d2d2;


// Typography
// ---------------------------------------------------------
$type-default:           'Avenir Next W01', arial, sans-serif;
$type-normal:            400;
$type-bold:              700;

// Using the 62.5% method to calculate rem.
// http://snook.ca/archives/html_and_css/font-size-with-rem
$font-size-heading-lg:   6.0rem;
$font-size-heading:      2.4rem;
$font-size-pullquote:    2.9rem; // lh 42px = 1.45
$font-size-intro:        2.2rem; // lh 34px = 1.54
$font-size-questions:    2.0rem; // lh 28px = 1.4
$font-size-body:         1.8rem; // lh 30px = 1.66
$font-size-body-sm:      1.6rem;
$font-size-subtext:      1.4rem;


// ---------------------------------------------------------
// HELPER CLASSES
// ---------------------------------------------------------
.nowrap {
  white-space: nowrap;
}
// Adds text for screen readers but hides it for visual users
.screen-readers {
  text-indent: -9999px;
  display: inline-block;
}



// ---------------------------------------------------------
// MIXINS
// ---------------------------------------------------------
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

// Link is the same color as the theme
@mixin theme-links($color) {
  background: none;
  text-shadow: none;
  color: $color;
  
  &:hover {
    color: $black;
  }
}

// Link hover is the same color as the theme
@mixin theme-links-inverse($color) {
  background: none;
  text-shadow: none;
  
  &:hover {
    color: $color;
  }
}

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}
@mixin list-reset-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
  
  li {
    display: inline-block;
  }
}

// Underline style used for links
@mixin underline-shadow($line-color, $shadow-color, $hover-color) {
  // adds underline
  background: linear-gradient(to bottom, $line-color 0, $line-color 100%) repeat-x 0 82% / 1px 1px;
  // adds bg on letters to go over the line
  text-shadow: 2px 0 $shadow-color, 1px 0 $shadow-color, -1px 0 $shadow-color, -2px 0 $shadow-color;
  
  &:hover {
    color: $hover-color;
    background: none;
    text-shadow: none;
  }
}



// ---------------------------------------------------------
// MEDIA QUERIES
// ---------------------------------------------------------
// placeholder sizes - to be updated
$screen-sm: 660px;
$screen-med: 980px;

@mixin max-width($screen-size) {
  @if $screen-size == sm {
    @media only screen and (max-width: $screen-sm) { @content; }
  }
  @if $screen-size == med {
    @media only screen and (max-width: $screen-med) { @content; }
  }
}
@mixin min-width($screen-size) {
  @if $screen-size == sm {
    @media only screen and (min-width: $screen-sm + 1) { @content; }
  }
  @if $screen-size == med {
    @media only screen and (min-width: $screen-med + 1) { @content; }
  }
}
@mixin between($screen-size) {
  @if $screen-size == sm-med {
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-med) { @content; }
  }
}
@mixin min-max($min, $max){
  @media only screen and (min-width: $min) and (max-width: $max) { @content; }
}

//test media queries
// .theme-coral {
//   @include max-width(sm){
//     color: lightblue!important;
//   }
//   @include max-width(med){
//     color: pink;
//   }
// }

