// ---------------------------------------------------------
// STYLE GUIDE
// ---------------------------------------------------------
// Styles for general page layout. Component & module styles
// should not be overridden.

.style-guide {
  header:first-child {
    width: 50%;
    color: white;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  button {
    color: white;
  }
  pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    white-space: pre-wrap;
    margin: -10px -20px -20px;
    line-height: 1.5;
    font-size: $font-size-subtext;
    
    code {
      padding: 25px 30px;
    }
  }
}
.module-wrap {
  margin: 0 20px;
  padding: 20px;
  background: white;

  h2 {
    padding: 60px 0 10px;
    font-size: 4rem;
    
    &.first {
      padding-top: 10px;
    }
  }
  h3 {
    font-size: 2.6rem;
    font-weight: 400;
  }
}

