// ---------------------------------------------------------
// STYLE GUIDE
// ---------------------------------------------------------
// Styles for general page layout. Component & module styles
// should not be overridden.

.style-guide {
  header:first-child {
    width: 50%;
    color: white;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
  }
  button {
    color: white;
  }
  pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 -20px -55px;
    white-space: pre-wrap;
    
    code {
      padding: 25px 30px;
    }
  }
}
.module-wrap {
  margin: 0 20px;
  padding: 30px 20px 55px;
  background: white;
  
  h2:first-child {
    padding-bottom: 10px;
  }
}
.example {
  border: 1px solid $gray;
  padding: 20px;
  margin-bottom: 25px;
}
.font-styles span {
  margin-right: 10px;
}

