// ---------------------------------------------------------
// STYLE GUIDE
// ---------------------------------------------------------
// Styles for general page layout. Component & module styles
// should not be overridden.

.style-guide {
  header:first-child {
    width: 50%;
    color: white;
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  button {
    color: white;
    margin-bottom: 10px;
  }
  pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    white-space: pre-wrap;
    margin: -10px -20px -20px;
    line-height: 1.5;
    
    code {
      padding: 25px 30px;
      font-size: 16px;
    }
    @include max-width($screen-xsm){
      margin: -10px -12px -12px;
      
      code {
        padding: 15px 12px;
        font-size: 12px;
      }
    }
  }
}
.module-wrap {
  @extend .border;
  padding-top: 100px;
  
  + .border {
    margin-top: 0;
  }
  &:first-child {
    padding-top: 20px;
  }
  h2 {
    padding-bottom: 10px;
    font-size: 4rem;
    text-align: left;

    &.first {
      padding-top: 10px;
    }
  }
  h3 {
    font-size: 2.6rem;
  }
}
.no-border + .module-wrap {
  padding-top: 20px;
}


