// ------------------------------------------------------------
// THEME STYLES
// ------------------------------------------------------------
// A class of "theme-color" needs to be 
// added to the <body> element for the theme 
// styles to work.


// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#each-directive
@each $theme, $color in ('coral', $coral),
                        ('purple', $purple),
                        ('yellow', $yellow),
                        ('green', $green),
                        ('blue', $blue) {
  .theme-#{$theme} {
    background-color: $color;
    
    a:hover,
    a:focus {
      color: $color;
    }
    
    // Interview credits
    .credits a {
      color: $color;
    }
  }
  
  // Style guide page
  button.#{$theme} {
    background: $color;
    
    &:focus {
      outline: 1px solid darken($color, 10%);
    }
  }
}