// ---------------------------------------------------------
// THEME STYLES
// ---------------------------------------------------------
// The class (prepended with "theme-") needs to be added 
// to the <body> element for the theme styles to work. 


// http://sass-lang.com/documentation/file.SASS_REFERENCE.html#each-directive
// $theme = class name
// $color = color variable listed in settings.scss
@each $theme, $color in ('coral', $coral),
                        ('purple', $purple),
                        ('yellow', $yellow),
                        ('green', $green),
                        ('blue', $blue) {

  .theme-#{$theme} {
    background-color: $color;
    
    // Underline on theme color background
    main a {
      @include underline-shadow(#fff, $color, #fff);
    }
    // Black underline on white background
    .border a,
    .module-wrap a {
      @include underline-shadow($black, #fff, $color);
    }
    // Theme color underline, no shadow
    [class*="img-"] a {
      @include underline-shadow($color, transparent, $color);
    }
    // No underline
    a.no-underline {
      @include underline-shadow(transparent, transparent, transparent);
      
      &:hover {
        color: $black;
      }
    }
    
    // Interview links
    .author a {
      @include theme-links-inverse($color);
    }
    .credits a,
    .footer-links a {
      @include theme-links($color);
    }
    
    // Style guide page
    .module-wrap h2:first-child {
      border-bottom: 1px solid $color;
    }
    
    // Global footer
    input[type="submit"]{
      color: $color;
    }
    
    // Team component
    .team-listing .name {
      @include underline-shadow($black, white, $color);
    }
    
    // Helper class, add to any element to add theme color
    .theme-color {
      color: $color;
    }
  }
  
  // Style guide page
  button.#{$theme} {
    background: $color;
    
    &:focus {
      outline: 1px solid darken($color, 10%);
    }
  }
  
}
