// ------------------------------
// THEME STYLES
// ------------------------------

.theme-coral {
  background: $coral;
}

.theme-purple {
  background: $purple;
}

.theme-yellow {
  background: $yellow;
}

.theme-green {
  background: $green;
}

.theme-blue {
  background: $blue;
}

