@import 'settings'; // variables, helper classes and mixins

// ---------------------------------------------------------
// STYLE GUIDE
// ---------------------------------------------------------
// Styles for general page layout. Component & module styles
// should not be overridden.

.style-guide {
  header:first-child {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: $coral;
    
    img {
      max-width: 300px;
      vertical-align: middle;
      margin-right: 15px;
    }
  }
  main {
    margin-top: 182px;
  }
  button {
    color: white;
    margin-bottom: 10px;
  }
  pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    white-space: pre-wrap;
    margin: -10px -20px -20px;
    line-height: 1.5;
    
    code {
      padding: 25px 30px;
      font-size: 16px;
    }
    @include max-width($screen-xsm){
      margin: -10px -12px -12px;
      
      code {
        padding: 15px 12px;
        font-size: 12px;
      }
    }
  }
  nav a {
    padding: 0 20px;
    display: inline-block;
  }
}
.module-wrap {
  margin: 0 20px;
  padding: 60px 20px 10px;
  background: white;
  
  &:first-child {
    padding-top: 20px;
  }
  h2 {
    padding-bottom: 10px;
    font-size: 3.5rem;
    text-align: left;
  }
  h3 {
    font-size: 2.5rem;
    padding-top: 15px;
  }
}
.no-border + .module-wrap {
  padding-top: 0;
}


