@import 'settings'; // variables, helper classes and mixins

// ---------------------------------------------------------
// STYLE GUIDE
// ---------------------------------------------------------
// Styles for general page layout. Component & module styles
// should not be overridden.

button {
  border: 0;
  border-radius: 2px;
  padding: 8px 10px;
  cursor: pointer;
  color: white;
  font-size: $font-size-xsm;
  margin-bottom: 4px;
}
hr {
  border: none;
  border-bottom: 1px solid #F0F0F0;
  margin: 0 20px;
}

.style-guide {
  .header-primary {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header-secondary:first-of-type {
    margin-top: 118px;
  }

  pre {
    white-space: pre-wrap;
    font-size: $font-size-xsm;
    line-height: 1.5;
    margin: -30px -30px -30px 20px;
  
    code {
      padding: 30px 20px;
    }
  }
}
.module-info {
  padding: 30px;
  
  h2 {
    font-size: 4rem;
    font-weight: 400;
    padding: 0 30px 10px;
    margin: 0 -30px 29px -30px;
    border-bottom: 1px solid #F0F0F0;  
  }
  h3 {
    padding-top: 10px;
  }
}


