@import 'settings'; // variables, helper classes and mixins

// ---------------------------------------------------------
// STYLE GUIDE
// ---------------------------------------------------------
// Styles for general page layout. Component & module styles
// should not be overridden.
hr {
  border: none;
}
pre {
  white-space: pre-wrap;
  font-size: $font-size-xsm;
  margin: 0;
  
  .hljs {
    padding: 15px;
  }
}
button:not(.btn-copy) {
  border: 0;
  border-radius: 2px;
  padding: 8px 10px;
  cursor: pointer;
  color: white;
  font-size: $font-size-xsm;
  margin-bottom: 4px;
}
.btn-copy {
  position: absolute;
  right: 0;
  border: 2px solid #F0F0F0;
  cursor: pointer;
  padding: 4px 6px 5px;
  
  &:focus {
    outline: none;
    border: 1px solid $coral;
  }
}
.style-guide {
  .header-primary {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .header-secondary:first-of-type {
    margin-top: 118px;
  }
}
.module {
  background: white;
  margin: 0 20px;
  font-size: $font-size-sm;
  padding: 20px;
  position: relative;
  
  h2 {
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 20px;
  }
  h3 {
    margin-top: 8px;
  }
  + .module {
    margin-top: 40px;
  }
  + .border {
    border-top: 1px solid #F0F0F0;
  }
}
.border + .module,
.no-border + .module {
  margin-top: 20px;
}
p + .grid-wrapper {
  margin-top: 60px;
}


